@keyframes mainAni {
    0% {
        opacity: 0;
        transform: translateY(5rem);
        border-top: 0px solid $primary-color;

    }
    // yarı zamanda 
    50% {
        transform: translateY(-5rem);
    }
    //en sonda tamamlandıgnda
    100% {
        opacity: 1;
        transform: translate(0);
        border: 2px solid $primary-color;

    }
}




